@model WebApi.Models.PromotionDetails

@{
    ViewData["Title"] = "Описание акции";
    var dtStart = Model.DtFrom.ToString("dd.MM.yyyy");
    var dtEnd = Model.DtTo?.ToString("dd.MM.yyyy") ?? "не ограничено";
}


<div>
    <div class="card mb-3">
        <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><h2>@Model.Header</h2></h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-muted">Период действия с @dtStart по @dtEnd </small></p>
        </div>
    </div>
</div>
